.checkbox {margin-top:0px;margin-bottom:0px;}
.panel > .panel {margin-bottom:0px;}
.panel-primary {border-color: #3280fc;}
.panel-primary >.panel-heading {color: #fff; background-color: #3280fc; border-color: #3280fc; background-image: none;}
td > ul > li {float: left; list-style-type: none; margin-right: 2px;}
ul {margin-bottom:0px;}
.dropdown-menu {min-width:80px;}

td > ul {
    display:inline-block;
    padding : 0px;
}
