.form-group span {padding-left:0;}
.table {margin-top:5px;}
.table .table-orderProduct td {padding:0px 5px 5px 0px;}
.btn-plus, .btn-remove {margin-left:5px;}
.required-finishedDate{width: 40%;}
.table.table-form th, .table.table-form td {padding: 5px;}
