.card-depositor {background-color: #fafafa; height: 220px}
.card-depositor > .card-heading {height: 70px;}
.card-depositor > .card-caption {background: #fff; border-bottom: 1px solid #e5e5e5; padding: 8px 0; height: 111px}
