h3 {margin-top: 0px;}
a.tips:hover {text-decoration: none;}
.commissionRule {margin-bottom: 10px;}
.not-table-hover{background-color: rgb(249, 249, 249) !important;}
.table tfoot td {padding-right: 5px;}
