.table-priv caption {background-color:#f5f5f5; border:1px solid #DDD; height:40;line-height:40px; text-align:left;padding-left:8px;font-size:15px;}
.table-priv caption label{font-weight:800;}
.table-priv td {padding:8px 40px;line-height:20px;}
.table-priv th {vertical-align:middle;}
.table-priv th label{font-weight:600; padding-left: 0;}
.table-priv th label input[type="checkbox"] {left: auto;right: 0; margin-left: 0}
.table-priv td label{width:170px;font-size:12px;padding:0 10px;display: inline-block;}
.table-priv td label.checkbox-inline+.checkbox-inline {margin-left: 0}
.table-priv a:hover{text-decoration: none;}
.table-priv .checkApp, .table-priv .checkModule {position: inherit !important;}
#search {padding:8px 40px;line-height:20px;}
