.with-side .side{left: 20px; position: absolute; transition: all 0.3s ease 0s; width: 140px;}
.with-side .side .menu.affix{top:100px; margin-left:0;}
.with-side .main{margin-left: 160px; margin-right: 0; transition: all 0.3s ease 0s;}

.refund-pass{color: #38B03F}
.refund-reject{color: #EA644A}
.no-padding {padding: 0;}

.tree > li {margin-right: 0;}
.tree li.active > a{font-weight: bold;}
